.container .row .flag {
  width: 100%;
  height: 20rem;
  cursor: pointer;
}
#level {
  text-align: center;
}
#level:first-child {
  padding-top: 10rem;
}
.flag-name {
  text-transform: capitalize;
}
.flag-block {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
#modal1 {
  width: 40rem;
  height: 20rem;
}
@media (max-width: 768px) {
  .container .row .flag {
    height: 8rem;
  }
  #modal1 {
    width: 80%;
    height: 40%;
  }
}
